/*
/*Estilo Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 60px;
    background-color: rgb(222, 222, 222);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;

}

.flex {
    display: flex;
}

i2 {
    font-size: 40px;
    color: #4E9975;
}

i3 {
    font-size: 40px;
    color: #4E9975;
}

i {
    font-size: 40px;
    color: #000000;
}

h4 {
    color: #000000;
    font-size: 38px;
    line-height: 60px;
}

section {
    padding: 40px 4%;
}

h2.titulo {
    color: #4E9975;
    font-size: 28px;
    text-align: center;
}

p {
    color: #252525e0;
    text-align: justify;
    margin-bottom: var(--mb-2-5);
}

/* Estilo do cabeçalho */
header {
    position: fixed;
    padding: 30px 4%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(222, 222, 222);
    z-index: 1000;
}


.name :hover {
    color: #4E9975;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header a {
    font-weight: 600;
    color: rgb(63, 63, 63);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #4E9975;
    transform: scale(1.10);
}

html {
    scroll-behavior: smooth;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(63, 63, 63);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

header nav ul li a:hover {
    color: #4E9975;
    /* Cor de destaque no hover */
}

/*.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(168, 211, 168);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
} */

header .btn-contato button:hover {
    box-shadow: 0px 0px 2px #121111;
}



/* Topo*/

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-bottom: 150px;
}

.topo-do-site h1 {
    color: #000000;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site p {
    font-size: 18px;

}

section .img-topo-site img {
    width: 470px;
    height: 471;
    font-size: 1.0rem;
    color: var(--first-color);
}

.home_social {
    display: flex;
    gap: 1rem;
    line-height: 80px;

}

.home_social-icon img {
    width: 30px;
    height: auto;
    font-size: 1.0rem;
    color: var(--first-color);
}

.home_social-icon:hover {
    color: var(--first-color-alt);
    cursor: pointer;
    transform: scale(1.10);
    transition: .2s;
}

/*sobre-topo*/

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.sobre h4 {
    color: #000000;
    font-size: 38px;
    line-height: 60px;
}

.sobre p {
    text-align: justify;
    margin-bottom: var(--mb-2-5);
}

section .img-sobre img {
    width: 470px;
    height: 471;
    font-size: 1.0rem;
    color: var(--first-color);
}

.sobre-rdp .sobre-box {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 30px;
    height: 200px;
    width: 400px;
    margin-top: -150px;
    margin-bottom: 150px;
}

.sobre-rdp .sobre-box i {
    font-size: 40px;
    color: #000000;
}

.sobre-rdp .sobre-box h3 {
    font-size: 22px;
    margin: 15px 0;
    line-height: 0px;
}

/*Habilidades*/
section.habilidades {
    padding: 40px 4%;

}

section.topo-do-site .flex {
    gap: 70px;
}

.habilidades .hab-box {
    padding: 40px;
    margin: 30px;
    height: 200px;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.habilidades .hab-box2 {
    padding: 40px;
    margin: 30px;
    height: 150px;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-bottom: 150px;

}

.text-logo h3 {
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: space-between;

}

.habilidades .hab-box .logos {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.habilidades .hab-box .logos .skills {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #4E9975;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    transition: all 0.3s;
    cursor: pointer;
    margin-right: 10px;
}

.habilidades .hab-box2 .logos {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.habilidades .hab-box2 .logos .skills {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #4E9975;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    transition: all 0.3s;
    cursor: pointer;
    margin-right: 10px;
}

/*Projetos*/
section.projetos {
    margin-left: 5px;
}

/*ATIVAR QUANDO TIVER MAIS PROJETOS PARA POR
section.projetos .flex{
   justify-content: space-around
}*/

.img-projetos {
    margin-top: 25px;
    width: 335px;
    height: 425px;
    background-color: #4E9975;
    background-size: cover;
    background-position: 100% 0%;
    border-radius: 25px;
    position: relative;
    margin-bottom: 150px;
    transition: .5s;
}

.img-projetos:hover {
    background-position: 100% 0%;
    transform: scale(1.10);

}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #234434dc;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: .5;
}

.layer:hover {
    opacity: 1;
}

.layer h7 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.layer p {
    color: #bbb6b6;
    font-size: var(--p-small-font);
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 80%
}

.layer i {
    color: #4E9975;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    vertical-align: top;
}

section.contato {
    margin-left: 0px;
}

.contato-box {
    border-radius: 30px;
    margin-right: 10px;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 150px;

}

.contato-icon h3 {
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: space-between;
}

.contato-icon p {
    margin-left: 40px;
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    font-weight: 350px;

}

/* Rodape */
.end {
    color: #000000;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (max-width: 1024px) {
   
    header {
        position: absolute;
    }

    h4 {
        font-size: 35px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    .sobre .flex {
        flex-direction: column-reverse;
    }

    /* Cabeçalho */
    .menu-desktop {
        display: none;
    }

    /*topo do site*/
    section.topo-do-site .flex {
        gap: 30px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 40px;
    }

    section .img-topo-site img {
        width: 100%;
    }

    .home_social-icon img {
        width: 60px;
    }

    /*sobre-topo*/

    section.sobre {
        padding: 20px 8%;
    }

    section.sobre .flex {
        gap: 0px;
    }

    .sobre-rdp .sobre-box {
        display: flex;
        padding: 40px;
        margin: 30px;
        margin-top: -50px;
    }

    /* habilidades */


    section.habilidades{
        padding: 20px 8%;
    }
    .habilidades .hab-box h4 {
        font-size: 40px;
    }

    .habilidades .hab-box h3 {
        font-size: 20px;
    }

    .habilidades .hab-box2 h3 {
        font-size: 20px;
    }


    .habilidades .hab-box {
        padding: 20px 8%;
        margin-bottom: 50px;
        font-size: 25px;
        margin-bottom: 50px;
        }

    .habilidades .hab-box2 {
        padding: 20px 8%;
        margin-bottom: 50px;
        font-size: 25px;
    }

    .habilidades .hab-box .logos {
        padding: 20px 0%;
        gap: 30px;

    }

    .habilidades .hab-box .logos .skills {
        gap: 0.5rem;
        padding: 0.7rem 0.5rem;
    }

    .habilidades .hab-box2 .logos .skills {
        gap: 0.5rem;
        padding: 0.7rem 0.5rem;
        margin-top: 10px;
    }

    section.projetos h4 {
        font-size: 40px;
    }

    section.projetos {
        margin-left: 20px;
        padding: 20px 8%;
    }

    .img-projetos {
        padding: 100px;
        width: 95%;
    }

    /*Contato*/
    section.contato {
        margin-left: 20px;
        font-size: 30px;
        padding: 20px 8%;
    }

    section.contato h4 {
        font-size: 40px;

    }
    section.contato h3 {
        font-size: 20px;

    }

    .contato-icon p {
        display: flex;
        flex-direction: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contato-box {
        margin-bottom: 0px;

    }

    footer h9 {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000000d6;
        font-size: 20px;
    }

    .end {
        padding: 15px 3%;
    } 
}
@media screen and (max-width: 768px) {

    header {
        position: absolute;
    }

    h4 {
        font-size: 25px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    .sobre .flex {
        flex-direction: column-reverse;
    }

    /* Cabeçalho */
    .menu-desktop {
        display: none;
    }

    /*topo do site*/
    section.topo-do-site .flex {
        gap: 20px;
    }

    section.topo-do-site {
        padding: 10px 4%;
    }

    .topo-do-site h1 {
        font-size: 20px;
    }

    section .img-topo-site img {
        width: 100%;
    }

    .home_social-icon img {
        width: 50px;
    }

    /*sobre-topo*/

    section.sobre {
        padding: 10px 4%;
    }

    section.sobre .flex {
        gap: 0px;
    }

    .sobre-rdp .flex{
        flex-direction: column;

    }
        .sobre-rdp .sobre-box {
        display: flex;
        padding: 20px;
        margin: 10px;
        margin-top: -40px;
    }

    /* habilidades */


    .habilidades .hab-box h4 {
        font-size: 30px;
    }

    .habilidades .hab-box h3 {
        font-size: 20px;
    }

    .habilidades .hab-box2 h3 {
        font-size: 20px;
    }


    .habilidades .hab-box {
        padding: 10px 4%;
        margin-left: 10px;
        margin-bottom: 40px;
        font-size: 15px;
    }

    .habilidades .hab-box2 {
        padding: 10px 4%;
        margin-left: 10px;
        margin-bottom: 40px;
        font-size: 15px;
        flex-direction: column;
    }

    .habilidades .hab-box .logos {
        padding: 0px 0%;
        gap: 20px;
    }

    .habilidades .hab-box .logos .skills {
        gap: 0.3rem;
        padding: 0.5rem 0.3rem;
        margin-bottom: 5%;
    }

    .habilidades .hab-box2 .logos .skills {
        gap: 0.3rem;
        padding: 0.5rem 0.3rem;
        margin-bottom: 5%;
    }

    section.projetos h4 {
        font-size: 30px;
    }

    section.projetos {
        margin-left: 10px;
        padding: 10px 4%;
    }

    .img-projetos {
        padding: 90px;
        width: 85%;
    }

    /*Contato*/
    section.contato {
        padding: 10px 4%;
        margin-left: 10px;
        font-size: 20px;
    }

    section.contato h4 {
        font-size: 30px;

    }
    section.contato h3 {
        font-size: 20px;

    }

    .contato-icon p {
        display: flex;
        flex-direction: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contato-box {
        margin-bottom: 0px;

    }

    footer h9 {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000000d6;
        font-size: 10px;
    }

    .end {
        padding: 5px 1%;
    } 
}

